# **Hello World**

In [ ]:
print('hello')
print("hello")

#print('comment section')

hello
hello

# **Variables**

In [ ]:
x = 4
y = "'hi'"
z = '"hi"'
print(x)
print(y)
print(z)

4
'hi'
"hi"

*CASTING*

In [ ]:
a = int(5)
A = 'a is different from A'
print(a)
print(A)
print(type(a), type(x), '\nhelo')

#any kinda casting is posssible

5
a is different from A
<class 'int'> <class 'int'>
helo

*VARIABLE NAME TYPE*

In [ ]:
#camel case
newVar = "hi"

#pascal case
NewVar = 'hi'

#snake
new_var = 'hi'

print(newVar, NewVar, new_var)

hi hi hi

*VARIABLE ASSIGN*

In [ ]:
l= m= n= 'same'
print(l,m,n) 

l, m, n = 'newVal_L', 'newVal_M', 'newVal_N'
print(l,m,n)

same same same
newVal_L newVal_M newVal_N

*OUTPUT*

In [ ]:
print('value of L is: '+l)
print('value of M is: \n'+m)
print('\nCombined value of L&M: '+(l + m))
print('Combined value of M&N: \n'+m +' && '+ n)

value of L is: newVal_L
value of M is:
newVal_M

Combined value of L&M: newVal_LnewVal_M
Combined value of M&N:
newVal_M && newVal_N

*GLOABAL & LOCAL VARIABLE*

In [ ]:
x = 10
y = 20
def fun():
  x = 100
  y = 200
  z = x + y
  print('Local Value of Z: ',z)

fun()
z = x + y
print('Global Value of Z: ',z)

Local Value of Z:  300
Global Value of Z:  30

In [ ]:
a = 10
b = 20
def fun():
  global x
  x = 100
  global y
  y = 200
  z = x + y
  print('Local Value of Z: ',z)

fun()
z = x + y
print('Global Value of Z: ',z)

Local Value of Z:  300
Global Value of Z:  300

# **DataTypes**

In [ ]:
#string
x = 'hi'
print(x,'-:- ', type(x))

#complex
x = 2.5j
print(x,'-:- ', type(x))

#we have only 3 brackets: (), [], {}

#tuple: cute name therfore brackets are also cute '()'
x = ('a','b',5, 5, 'a', 'A', 5.6, 5j)
print(x,'-:- ', type(x))

#set: we remember from maths classs, set are always in '{}'
x = {'a','b',5, 5, 'a', 'A', 5.6, 5j}
print(x,'-:- ', type(x))

#list: we have only 1 bracket left, '[]'
x = ['a','b',5, 5, 'a', 'A', 5.6, 5j]
print(x,'-:- ', type(x))

#dict: always in key value pair and '{}'
x = {'country' : ('IN', 'PK', 'NP','NP'),'city' : ('DL','DL', 'CH', 'BL'),'pin': (1,1,2,3)}
print('\n',x,'-:- ', type(x))

x = {'country' : ['IN', 'PK', 'NP','NP'],'city' : ['DL','DL', 'CH', 'BL'],'pin': [1,1,2,3]}
print('\n',x,'-:- ', type(x))

x = {'country' : {'IN', 'PK', 'NP','NP'},'city' : {'DL', 'CH', 'BL','DL'},'pin': {1,1,2,3}}
print('\n',x,'-:- ', type(x))

#range
x = range(5)
print('\n',x,'-:- ', type(x))

#frozenset
x = frozenset({'a', 'b', 4}) #hard and fast rule for brackets
print('\n',x,'-:- ', type(x))

x = b'ok' #b has to be there in starting only, it will make it binary, but works only in string, not on other datatypr
print('\n',x,'-:- ', type(x))

hi -:-  <class 'str'>
2.5j -:-  <class 'complex'>
('a', 'b', 5, 5, 'a', 'A', 5.6, 5j) -:-  <class 'tuple'>
{'a', 5.6, 5, 'A', 5j, 'b'} -:-  <class 'set'>
['a', 'b', 5, 5, 'a', 'A', 5.6, 5j] -:-  <class 'list'>

 {'country': ('IN', 'PK', 'NP', 'NP'), 'city': ('DL', 'DL', 'CH', 'BL'), 'pin': (1, 1, 2, 3)} -:-  <class 'dict'>

 {'country': ['IN', 'PK', 'NP', 'NP'], 'city': ['DL', 'DL', 'CH', 'BL'], 'pin': [1, 1, 2, 3]} -:-  <class 'dict'>

 {'country': {'IN', 'NP', 'PK'}, 'city': {'CH', 'DL', 'BL'}, 'pin': {1, 2, 3}} -:-  <class 'dict'>

 range(0, 5) -:-  <class 'range'>

 frozenset({'a', 'b', 4}) -:-  <class 'frozenset'>

 b'ok' -:-  <class 'bytes'>

*CONVERT DATATYPE*

In [ ]:
x = 3
x = float(x)
print(x,'-:- ', type(x))

y = 3.4
y = int(y)
print('\n',y,'-:- ', type(y))

z = 3.3
z = complex(z) #int,float to complex: POSSIBLE. Comlex to int,float: NOT
print('\n',z,'-:- ', type(z))

#display any random no.
import random as rd
print(rd.randrange(1,20))

x = '9'
x = str(x)
print('\n',x, ':-', type(x))

3.0 -:-  <class 'float'>

 3 -:-  <class 'int'>

 (3.3+0j) -:-  <class 'complex'>
6

 9 :- <class 'str'>

# **Strings**

In [ ]:
#multi line string: can use either ''' or  """
x = """My name is shubham thakur.
I live in INdia."""
print(x)

#strings are actually array represantaiotn in python
x = 'shubham thakur'
print('\nFirst charater of X:', x[0], '\nLast char: ',x[len(x)-1], '\ntotal Length:', len(x))

My name is shubham thakur.
I live in INdia.

First charater of X: s
Last char:  r
total Length: 14

***LOOP IN STRING***

**CHECK IN STRING**

In [ ]:
#checking is case senstive
x = 'india is my cOuntry!'
y = 'shubham'
z = (23452, 34,54)
print((34) in z) #T
print((3) in z) #F    #if RHS is tuple, LHS will has to be tuple


#print(('india','ind') in x) #ERROR: 'in <string>' requires string as left operand, not tuple
print('indi' in x)
print('i' in x)
print('India' in x)
print('country' in x)
print('o' in x)
print('O' in x)
print('x', 'c', 'O'  in x) #
print('****','shubha' in y,x) #it means 'in' works only on imediate left string and imediate right string, not more than one string

#check if not
print('\ncheck if not:')
print('shubhiam' not in x)

True
False
True
True
False
False
False
True
x c True
**** True india is my cOuntry!

check if not:
True

***SLICING***

In [ ]:
x = 'shubham'
print(x[::-1])   #reverse
print(x[2:5])  #x[2,5] will give error 
print(x[5:2]) #no output
print(x[1:]) #start from 1(included), ends at last point
print(x[:5]) #starts from starting point, till 5(not included)

print(x[-5:-2]) #here it will look from backward, so m=-1, a= -2 etc... so -5 is u(included) and -2 is a(not included therfore, till h)
#ulta dekhta hai ye lein ulta chlta ni h ye, reverse string not possible like this

mahbuhs
ubh

hubham
shubh
ubh

***MODIFY STRING***

In [ ]:
x = 'shubhAm ThakurX X X XX 6'
print(x.upper()) #covert everything to uppercase
print(x.lower()) #covert everything to lower
print(x.capitalize()) #convert only 1st character as uppercase
print(x.strip()) #if ' hi ' then it will return 'hi', remove extra white space, but doesn't remove space b/w 2 strings/char
print(x.replace('shubhAm', 'Y'))
print(x.replace('X', 'Y'))

print('\n***NEW VARIABLE Y***')
y = x.split(' ') #it returns as LIST as whole but each value is actually string ,even 6 is also string
print(y, type(y), len(y))
#if we put ',' then o/p: ['shubhAm ThakurX X X XX 6'] <class 'list'> 1
print(y[2], type(y[2]))
print(y[0][0]) #bc, y[0] = shubham and shubham is actually str, and we can acceess it as array. so y[0][0] is first letter, S.

SHUBHAM THAKURX X X XX 6
shubham thakurx x x xx 6
Shubham thakurx x x xx 6
shubhAm ThakurX X X XX 6
Y ThakurX X X XX 6
shubhAm ThakurY Y Y YY 6

***NEW VARIABLE Y***
['shubhAm', 'ThakurX', 'X', 'X', 'XX', '6'] <class 'list'> 6
X <class 'str'>
s

***CONCAT***

In [ ]:
x = 'shubham'
y = 'thakur'
print(x+y)
#to add space b/w them
print(x+' '+y)

#if: x='a' & y='1', noError. If y=1, Error. combine str and int isn't allowed

shubhamthakur
shubham thakur

***FORMAT***

In [ ]:
x = int(input('Enter marks: ')) #if we don't specify 'int', automatically it will taken as string, even if you enter int value
y = input("ENter subject name: ")
#z = 'Ram score in '+y+ ' is '+x   #its error bc concat of str and int isn't allowed, one way we have is..

z ='Ram score in '+y+ ' is {}'
print(z.format(x)) #no error

#one other way to use format is..

a = 5
b = 2.6
c = 645
z = 'value of a is {}, b is {}, c is {}'
print(z.format(a,b,c))

#and one more..

a = 5
b = 2.6
c = 645
z = 'value of c is {2}, a is {0}, b is {1}'
print(z.format(a,b,c))

Enter marks: 5
ENter subject name: dhib
Ram score in dhib is 5
value of a is 5, b is 2.6, c is 645
value of c is 645, a is 5, b is 2.6

***ESCAPE CHAR***

In [ ]:
#if we want to print: It's raining! or "i'am new here", it will give errror, bc of ' in it's
print('It\'s raining!') 
print("\"I\'am new here\"") # \ handles single and double quotes both
#\n we know for new line
#\t for tab
print('hello\bworld') #its backspace, delete previous value
print('\444') #return octal no. syntax  is: \ followd by three ints
print('\x48\x65\x6c\x6c\x6f') #return hex no. syntax is: \x followed by hex value. it will return result as readable format

It's raining!
"I'am new here"
helloworld
Ä¤
Hello

***STRING METHODS***

In [ ]:
#https://www.w3schools.com/python/python_ref_string.asp

# **BOOLEAN VALUES**

In [ ]:
print('abc' == 'abc') #true
print('aBc' == 'abc') #false
print('6' == 6) #false

print(bool())
print(bool(15)) #all the values are true but if it's empty or we enter '0' then 'false', if any content is there, 'true'

#false value
x = []
y = {}
z = ()
a = ""
b = None
c = 0
d = False

print(bool(x), bool(y), bool(z), bool(a), bool(b), bool(c), bool(d))

#if function returns 0 then flase
def fun():
  return 0
print(bool(fun()))

True
False
False
False
True
False False False False False False False
False

***isinstance() function***

In [ ]:
#it checks the value is of certain datatype or not
x = 20
print(isinstance(x,int))
print(isinstance(x,str))

True
False

# **OPERATORS**

***Arithmetic***

In [ ]:
x = 5
y = 2
print(x%y)
print(x**y) #5*5
print(y**x) #2*2*2*2*2
print(x//y) #5/2 is 2.5 so it will give int value but lower the value, i.e. 2

1
25
32
2

***Assignment***

In [ ]:
x = 5
x += 3 #direct print will give error # it means x = x+3
print(x)

#same will go for -=, *=, /=, **= %=, //=, ^= etc..

8

***Logical***

In [ ]:
#and
x = 5
y = 6
z = 88
print(x<6 and z>x and z>y)
print(z>x or x>z or y>z)
print(not(z>x or x>z or y>z)) #value is same as or, it returns oppostie result

True
True
False

***Identity == vs is***

In [ ]:
x = 2
y = 2
print(x is y) #true
print( x == y) #true

x = 10
y = 20
print(x is y) #false
print( x == y) #false

x = '10'
y = 10
print(x is y) #false
print( x == y) #false

x = 'abc'
y = 'abc'
print(x is y) #true
print( x == y) #true

x = 'aBc'
y = 'abc'
print(x is y) #false
print( x == y) #false

x = 5
y = x
print(x is y) #true
print( x == y) #true

x = ['a', 'b']
y = ['a', 'b']
print(x is y) #false
print( x == y) #true
#for ==, both content and type has to be same, even case senstive
#for is, both content and type has to be same, even case senstive AND  object has to be same

True
True
False
False
False
False
True
True
False
False
True
True
False
True

***Bit-wise Operator***

# **LIST**

In [ ]:
list1 = ['a', 'A', 4, 4, 45, True, False, 'b']
print(list1)
#ordered: if we add new item, it will go to end. and when we print, order does't change
#values can be changable
#allow duplicates and any data types

#make list using list() constructor

list2 = list(('a', 'A', 4, 4, 45, True, False, 'b')) #double brackets are compulsory
print(list2)

['a', 'A', 4, 4, 45, True, False, 'b']
['a', 'A', 4, 4, 45, True, False, 'b']

***Accesing values in List***

In [ ]:
list1 = ['a', 'A', 4, 5,4, 45, True, False, 'b']
print(list1[2])
print(list1[2:5])
print(list1[-5:-1])
print(list1[-1:-5]) #no output, bc, it doesn't work right to left
print('a' in list1) #true, if 'aa' in list1  then #false
#print(a in list1) #error
print(type(list1[0][0]),len(list1))
print(type(list1))

listX = [list1[0], list1[3]]
print(listX)
s = 'shubham'
print('as' in s)
print('s' in s)
print('a' in s)

#RandoM
def ds():
  asf =3
  kk = 34
  return [asf, kk]   #o/p: [3, 34] as list, if we don't put any brackets, it will return as  tuple
  

print(ds(), type(ds()))

4
[4, 5, 4]
[4, 45, True, False]
[]
True
<class 'str'> 9
<class 'list'>
['a', 5]
False
True
True
[3, 34] <class 'list'>

***Change values in List***

In [ ]:
list1 = ['india', 'pak', 'us', 'uk', 'jp']
list1[1] = 'np' #replacing value
list1[1:3] = ['kl', 'oc'] #or without brackets also works fine

#replace 2nd value with 2 new values
list1[1] = 'az', 'zk' #it will return both as a combined tuple and insert into list
list1[1] = ['az', 'zk'] #it will return both as a combined list and insert into list
list1[1:2] = 'az', 'zk' #it will work fine now

#replace 2nd and 3rd value by replacing it with single value
#list1[1:3] = 'new' #as we know string also kinda array. so 'n', 'e', 'w' will replace 2nd&3rd values
#list1[1:3] = ('new') #it will also do the same as string
list1[1:3] = ['new'] #it will work fine

print('***ORIGNAL**',list1, len(list1))

list1[0] = '0new'        #when only single location and single value
print(list1, len(list1))

list1[1:2] = '1.1new', '1.2new'   #with[] also fine      #when single location and multiple values
print(list1, len(list1))

list1[1:3] = ['2new']    #when multiple loc. and single values
print(list1, len(list1))

list1[1:3] = '1.1new', '1.2new', '1.3new'   #with[] also fine     #when mulpilte loc.(less than values)  and multiple values
print(list1, len(list1))

list1[1:4] = '2new' ,'3new'    #when multiple loc.(more than values) and multiple values
print(list1, len(list1))

***ORIGNAL** ['india', 'new', 'oc', 'uk', 'jp'] 5
['0new', 'new', 'oc', 'uk', 'jp'] 5
['0new', '1.1new', '1.2new', 'oc', 'uk', 'jp'] 6
['0new', '2new', 'oc', 'uk', 'jp'] 5
['0new', '1.1new', '1.2new', '1.3new', 'uk', 'jp'] 6
['0new', '2new', '3new', 'uk', 'jp'] 5

***Add values in List & Joining Lists***

In [ ]:
list1 = ['india', 'pak', 'us', 'uk', 'jp']
list_orignal = list1
print('Orignal: ',list_orignal, ' ', len(list_orignal))

#append(): add item in the end
list1.append('using_append')
print(list1, len(list1))

#insert(): add item to a specified location
#list1[2] = 'using_direct' #this also works same
list1.insert(2, 'using_insert')
print(list1, len(list1))

#extend(): merging two lists
#list3 = list1+list2 #this also works same
list2 = [1,2,3,4]
list1.extend(list2) #extend() works on every tuple,set,list dict. etc
print(list1)

list1[:5] = ['n1','n2','n3'] #O/P: ['n1', 'n2', 'n3', 'jp', 'using_append', 1, 2, 3, 4]
#i.e. we want to change 0-4th pog. of list1 by these 3 values, so 3 values will be inserted  and rest values. will be delated
print(list1)

list1[:2] = ['k1','k2','k3'] #O/P: ['k1', 'k2', 'k3', 'n3', 'jp', 'using_append', 1, 2, 3, 4]
#i.e 0-1, only 2 pog. values we want to change by 3 values. so extra value added automatically
print(list1)

Orignal:  ['india', 'pak', 'us', 'uk', 'jp']   5
['india', 'pak', 'us', 'uk', 'jp', 'using_append'] 6
['india', 'pak', 'using_insert', 'us', 'uk', 'jp', 'using_append'] 7
['india', 'pak', 'using_insert', 'us', 'uk', 'jp', 'using_append', 1, 2, 3, 4]
['n1', 'n2', 'n3', 'jp', 'using_append', 1, 2, 3, 4]
['k1', 'k2', 'k3', 'n3', 'jp', 'using_append', 1, 2, 3, 4]

***Removing item from List***

In [ ]:
list1
#remove(): here we have to specify the value that we want to remove
#list1.remove('pak') #it can take only single argument

#pop(): remove from specified index, if we don't specify, last value will delete
#list1.pop(1) #it can take only single argument 

#del: this is a keyword, works same as remove, to delete from specified location
list3 = ['a','b','c','d','e']
#del list1[-1]
#del can delte cokmplete list too
print(list3)
del list3

#clear: it clears all the value inside but don't delete list
list4 = [1,2,3,4,5,56,6,77,8]
print(list4)
list4.clear()
print(list4)

x = [1,2,3,4, 'shubham']
del x[0:2]
print(x)

['a', 'b', 'c', 'd', 'e']
[1, 2, 3, 4, 5, 56, 6, 77, 8]
[]
[3, 4, 'shubham']

***Loop in List***

***List Comprehension***

In [ ]:
#newlist = [expression for item in iterable if condition == True]

l1 = ['a', 'b', 'c', 'd']
l2=[]
for x in l1:
  l2.append(x)
print(l2)

#OR
l1 = ['a', 'b', 'c', 'd']
l2 = [x for x in l1] #short form
print(l2)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

In [ ]:
l1 = ['a', 'ba', 'c', 'd']
l2=[]
for x in l1:
  if 'a' in x:
    l2.append(x)
print(l2)

#OR

l1 = ['a', 'ba', 'c', 'd']
l2 = [x for x in l1 if 'a' in x]
print(l2)

l3 = [x for x in range(10) if x>5]
print(l3)

l4 = [x.upper() for x in l1]
print(l4)

l5 = ['hello' for x in l2]
print(l5)

SyntaxError: ignored

In [ ]:
#Return "orange" instead of "banana":
fr = ["apple", "banana", "cherry", "kiwi", "mango"]
l2 = [x if x != 'banana' else 'orange' for x in fr ]
print(l2) #"Return the item if it is not banana, if it is banana return orange"


#[2: for x in l1: 1]
#1:agr sirf if ek if condiotin h without else then yhan likho, agr if else h toh 2 me likho
#2: kya krna chahte ho if else k alawa

['apple', 'orange', 'cherry', 'kiwi', 'mango']

***Sorting***

In [ ]:
#sort works only on same datatype list, if str then only str, if int, then only int
list1 = ['a','f', 'l', 'b', 'x','Z', 'D']
list2 = [1,2,3,6,9,7,0]

list1.sort() #sort in asc. order, but you can see, it is case senstive, i.e. Capital letters gets priority
list2.sort() 

list1.sort(reverse = True) #sort in DESCENDING. order, here small leter gets priority
list2.sort(reverse = True)

list1.sort(key = str.lower) #sort in asc. regardless of case sensive or not. O/P:['a', 'b', 'D', 'f', 'l', 'x', 'Z']
#list2.sort(key = str.lower) #error, bc list2 has int values

list1.reverse()
list2.reverse() #reverse order, without changing to asc. or desc
print(list1)
print(list2)

['Z', 'x', 'l', 'f', 'D', 'b', 'a']
[0, 1, 2, 3, 6, 7, 9]

***Copying List***

In [ ]:
list1 = ['a', 'b', 12]
list2 = list1
print('List1: ',list1)
print('List2: ',list2)

list2.append('new_val')
print('Updated_List1: ',list1)
print('Updated_List2: ',list2)

#here you can see, changes done in list2, will affect list1 too. bc list2 = list1 means list2 has just reference of list1, not as seperate copy
#copy(): fun is used to make copy
list3 = list1.copy()
list3
list3.insert(1, 'list3_new_value')
print(list3)
list1

#OR, use list() constructor
list4 = list(list1)
print(list4)

['a', 'b', 12]
['a', 'b', 12]
['a', 'b', 12, 'new_val']
['a', 'b', 12, 'new_val']
['a', 'list3_new_value', 'b', 12, 'new_val']
['a', 'b', 12, 'new_val']

In [ ]:
import pandas as pd
 
# initialize as list
data = [[1, 10], [3, 45], [56, -6], [-96, -65]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['A', 'B'])
print(df)
print('*****************')

df['C'] = None

if df.iat[0,0] < 0 and df.iat[0,1] < 0:
  df.iat[0,2] = -100
elif df.iat[0,0] < 0 and df.iat[0,1] > 0:
  df.iat[0,2]  = 100
elif df.iat[0,0] > 0 and df.iat[0,1] < 0:
  df.iat[0,2]  = 100
else:
  df['C'] = df['A']/df['B']

print('New dataFrame:')
print(df)

    A   B
0   1  10
1   3  45
2  56  -6
3 -96 -65
*****************
New dataFrame:
    A   B         C
0   1  10  0.100000
1   3  45  0.066667
2  56  -6 -9.333333
3 -96 -65  1.476923

***Join List***

In [ ]:
#join list in a way like, join values 1 by 1 each
list1 = ['f', 'o', '0']
list2 = ['hello', 'world']

list3 = list1 + list2
print(list3) #this we dont want

result = [None]*(len(list1)+len(list2))
print(result ,len(result), type(result))
result[::2] = list1
print(result ,len(result), type(result))

result[1::2] = list2
print(result, len(result))

['f', 'o', '0', 'hello', 'world']
[None, None, None, None, None] 5 <class 'list'>
['f', None, 'o', None, '0'] 5 <class 'list'>
['f', 'hello', 'o', 'world', '0'] 5

In [ ]:
# :: means [start:end:step]
l = ['a','b','c','d','e','f','g','h','i','j']
print(l[1:5])
print(l[1:5:3])

#start point is 1: b
#end is 5(last not inclued so 4): e(last is not included)
#steps are 3: i.e 1,4 bc 5 will be out-of bound so not included

['b', 'c', 'd', 'e']
['b', 'e']

In [ ]:
#revese string
x = 'abc def'
print(x[::-1])
#start: we don't know
#end: don't know
#steps: -1 i.e at 'a' it will take -1 step i.e. it will reach last and keep on doing this!

fed cba

In [ ]:
#reverse list
x = ['abc def']
print(x.reverse()) #none, bc it reverse list values, but here only 1 value we have
# but we want to inverse it likes string. so..

y = []
y.append(x[0][::-1])
print('Y: ',y, type(y), len(y))

#OR
x[0] = x[0][::-1]
print('X: ',x, type(x), len(x))

None
Y:  ['fed cba'] <class 'list'> 1
X:  ['fed cba'] <class 'list'> 1

In [ ]:
#random
x = 'shubham ThaKur'
#o/p: ShubhamthaKur, thakurShubham

x = x.split(' ')
print(x)
x[0] = x[0].capitalize()
k = x[1]

print(type(k[3]), k[3])
print(x)
y = x[0]+x[1]
print(y)

['shubham', 'ThaKur']
<class 'str'> K
['Shubham', 'ThaKur']
ShubhamThaKur

In [ ]:
#shubhamthakur, shuBhamThakur, shubham thakur, [shubhamthakur], [shubham thakur]
#ThakurshuBham, thakurShubh am, thaKur_ShuBha m1998, [ThakurshuBham], [Thakur ShubhaM]
x = 'shubhamthakur'
a1 = x[:7]
a2 = x[7:]
a2 = a2.capitalize()
l1 = list((a1))
l1[3] = l1[3].upper()
s1 = ""
print(s1, l1)
s1 = s1.join(l1)   #to join string and list
print(s1)
result = a2+s1
print(result)

 ['s', 'h', 'u', 'B', 'h', 'a', 'm']
shuBham
ThakurshuBham

In [ ]:
x = 'sHuBhamThakur'
a1 = x[:7]
a2 = x[7:]
print(a1, type(a1))
a2 = a2.lower()

a11 = a1[:5]
a22 = a1[5:]

l1 = list((a11))
l1[3] = l1[3].lower()
s1 = ""
s1 = s1.join(l1)
s1 = s1.capitalize()
print(a2+s1+' '+a22)

sHuBham <class 'str'>
thakurShubh am

In [ ]:
x = 'shubham thakur'
a1 = x[:7]
a2 = x[8:]

l1 = list((a2))
l1[3] = l1[3].upper()
s1 = ''
s1 = s1.join(l1)

l2 = list(a1)
l2[0] = l2[0].upper()
l2[3] = l2[3].upper()
l2[-1] = 'm1998'
ss = l2[-1]
print(l2, type(ss))
l2.pop()
s2 = ''
s2 = s2.join(l2)

result = s1+'_'+s2+' '+ss
print(result)

['S', 'h', 'u', 'B', 'h', 'a', 'm1998'] <class 'str'>
thaKur_ShuBha m1998

In [ ]:
x = ['shubhamthakur']   #[ThakurshuBham]
s1 = x[0][:7]
s2 = x[0][7:]
s2 = s2.capitalize()

l1 = list((s1))
l1[3] = l1[3].upper()
s12 = ''
s12 = s12.join(l1)
result = [s2 + s12]
print(result, type(result))

['ThakurshuBham'] <class 'list'>

In [ ]:
x = ['shubham thakur']
#[Thakur ShubhaM] #['Thakur','_ShubhaM']

a1 = x[0][8:]
a2 = x[0][:7]
a1 = a1.capitalize()
a2 = a2.capitalize()

l1 = list((a2))
l1[-1] = l1[-1].upper()
l1[0] = '_S'
ss1 = ''
ss1 = ss1.join(l1)
r1 = [a1 + ' '+ss1] #if we use list((a1 + ' '+ss1)), it will seperate each word as a sepeterate string
r2 = [a1]
r2.append(ss1)
print(r1)
print(r2)
print(type(ss1))

['Thakur _ShubhaM']
['Thakur', '_ShubhaM']
<class 'str'>

In [ ]:
x = 'shuBhamThakur' #thakurShubh am
a1 = x[:7]
a2 = x[7:]
a2 = a2.lower()
a1 = a1.capitalize()
a1 = a1.replace('B', 'b')
a12 = a1[:5]
a13 = a1[5:]

result  = a2 + a12 + " "+ a13

print(result)

thakurShubh am

In [ ]:
x = ['shubham', 'thakur', 103]
s1 = x[0]
s2 = x[1]
s3 = str(x[2])

s1 = s1[::-1]
s2 = s2[::-1]
s3 = s3[::-1]

x.clear()
x.extend([s1, s2, s3]) #REMEBER THIS, when add multiple values in list from   variables
x.reverse()
print(x)
print(s1, s2,s3)

['301', 'rukaht', 'mahbuhs']
mahbuhs rukaht 301

***List Methods()***

# **TUPLE**

In [ ]:
x = (1,2,1, 'a', 'A', 'b', 'a', True)
new_tup = tuple(('a', 'b', 3))           #double (()) are compulsory
print(x, type(x), len(x))
#ordered, allow duplicates values and diff. data types
#UNCHANGABLE: once tuple created, no add, remove, change of values

#empty list, 1st has len=0 rest all have len=1
y = [] 
print(y, type(y), len(y))
y = [1] 
print(y, type(y), len(y))
y = [''] 
print(y, type(y), len(y))
y = [None] 
print(y, type(y), len(y))
y = [2,] 
print(y, type(y), len(y))
y = ['',] 
print(y, type(y), len(y))
y = [None,] 
print(y, type(y), len(y))
#y = [,] #error 
#print(y, type(y), len(y))

print('\n******************************************\n')
z = () 
print(z, type(z), len(z))
#z = (1)              #int, so len won't work, so error
#print(z, type(z), len(z))
z = ('',)             #len=0 if ('') 
print(z, type(z), len(z))
#z = (None)             #none, so len won't work, so error
#print(z, type(z), len(z))
z = (2,) 
print(z, type(z), len(z))
z = ('',) 
print(z, type(z), len(z))
z = (None,) 
print(z, type(z), len(z))
#y = [,] #error 
#print(y, type(y), len(y))

#so to create single value list: [1], [1,] both are same
#to create single value tupe: (1) will return as int, ('') this as string. so (1,) and ('',) will give single value tuple, ',' is imp. here

#Note: When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

(1, 2, 1, 'a', 'A', 'b', 'a', True) <class 'tuple'> 8
[] <class 'list'> 0
[1] <class 'list'> 1
[''] <class 'list'> 1
[None] <class 'list'> 1
[2] <class 'list'> 1
[''] <class 'list'> 1
[None] <class 'list'> 1

******************************************

() <class 'tuple'> 0
('',) <class 'tuple'> 1
(2,) <class 'tuple'> 1
('',) <class 'tuple'> 1
(None,) <class 'tuple'> 1

***Access Tuple***

In [ ]:
#accessing tuple same as list, using []
x = (1,2,1, 'a', 'A', 'b', 'a', True, 'xyz')
y = [1,2,1, 'a', 'A', 'b', 'a', True, 'xyz']

print(x[5])
print(x[-1])
print(x[2:5])
print(x[:5])
print(x[5:])

print('x' in x) #F
print('Xyz' in x) #F
print('xyz' in x) #T

print('\n*****List*****\n')
print('x' in y)
print('Xyz' in y)
print('xyz' in y) #same as tuple o/p

b
xyz
(1, 'a', 'A')
(1, 2, 1, 'a', 'A')
('b', 'a', True, 'xyz')
False
False
True

*****List*****

False
False
True

***Update Tuple***

In [ ]:
#to update, convert it into list, then do modification, then convert back to tuple
x = (1,2,3)
x = list((x))
x[0] = 44
x = tuple((x))
print(x)

(44, 2, 3)

***Add Values in Tuple***

In [ ]:
#change to list first...
#Add tuple to tuple: this is possible

x = (1,2)
y = (3,4)
x += y
print(x)

(1, 2, 3, 4)

***Remove values***

In [ ]:
#convert to list then...
#we can only delete tuple completly
x = (1,3)
print(x)
del x
#print(x)

(1, 3)

***Unpack Tuple***

In [ ]:
x = (1,2,3)
y = (55,66)
a1 = x
a1 = a1+y
print(a1, type(a1))

(1, 2, 3, 55, 66) <class 'tuple'>

In [ ]:
list1 = ['a', 'b', 12]
list2 = list1
list3 = ['x','y','z']
list1 = list2 + list3
print('List1: ',list1)
print('List2: ',list2)
print('List3: ',list3)

List1:  ['a', 'b', 12, 'x', 'y', 'z']
List2:  ['a', 'b', 12]
List3:  ['x', 'y', 'z']

In [ ]:
x = [1,2,3]
y = [55,66]
a1 = x
a1 = a1+y
print(a1, type(a1))

[1, 2, 3, 55, 66] <class 'list'>

In [ ]:
list1 = ['a', 'b', 12]
list2 = list1
print('List1: ',list1, id(list1))
print('List2: ',list2, id(list2))

list2.append('new_val')
print('Updated_List1: ',list1, id(list1))
print('Updated_List2: ',list2, id(list2))

List1:  ['a', 'b', 12] 140685166145200
List2:  ['a', 'b', 12] 140685166145200
Updated_List1:  ['a', 'b', 12, 'new_val'] 140685166145200
Updated_List2:  ['a', 'b', 12, 'new_val'] 140685166145200

In [ ]:
list1 = ['a', 'b', 12]
list2 = list1
list3 = ['x','y','z']
list2 = list2 + list3
print('List1: ',list1, id(list1))
print('List2: ',list2, id(list2))
print('List3: ',list3, id(list3))

List1:  ['a', 'b', 12] 140437177673760
List2:  ['a', 'b', 12, 'x', 'y', 'z'] 140437177673520
List3:  ['x', 'y', 'z'] 140437178138128

***Loop in Tuple***

***Join Tuple***

In [ ]:
a = (1,2, 'a')
b = (3,4)
c = a+b
d = a*2 #to creates mupltiples of content inside
print(c)
print(d)

(1, 2, 'a', 3, 4)
(1, 2, 'a', 1, 2, 'a')

***Methods of Tuple***

In [ ]:
#count(): #count no of times a value occurs
a = ('a',1,2,3,3,3,3,33,'a')
print(a.count(3)) #4

#index()
print(a.index('a' )) #goes from left to right and return the 1st occurence of value. o/p:0
print(a.index('a', 1 )) #now it statrs from 1th pog. o/p:8

4
0
8

# **SETS**

In [ ]:
#use {}
#it is unordered, unchnagable(we can't updates values, but we can delete or add new one), undixed, NO Duplicates
x = {'a', 1,2,1,2,'b'}
print(x, type(x), len(x)) #o/p:{1, 2, 'b', 'a'} <class 'set'> 4

y = set((1,2,1,2,'a','b'))
print(y)

{1, 2, 'b', 'a'} <class 'set'> 4
{1, 2, 'b', 'a'}

***Access Items***

In [ ]:
#index stuff isn't possible here, bc it is unordered
#to access 'for loop' will be used
x = {'a','abx','xba' ,'ba', 'x','hx', 'b','y','z'}
for i in x:
  print(i[0], type(i))

print('***********************')

for i in x:
  if 'a' and 'x' in i:
    print(i)
    
print('***********************')

print('abX' in x)
print('abx' in x)
print('ab' in x)
print('a' in x)

h <class 'str'>
b <class 'str'>
a <class 'str'>
x <class 'str'>
y <class 'str'>
z <class 'str'>
x <class 'str'>
b <class 'str'>
a <class 'str'>
***********************
hx
abx
x
xba
***********************
False
True
False
True

***Add items in SETS***

In [ ]:
#add() and update()
#add(): #can take single argument
s = {1,2,3,'a','b'}
s.add('x')   #it can take only SINGLE argument
print(s)

#update(): 
s1 = {1,2,3,'a','b'}
s2 = {'x','y'}
s1.update(s2) #s2 doesn't has to be set only, it can be anything
#s3 = s1+s2 #error

l1 = {'lop':'shubham'} #dict. o/p: {1, 2, 3, 'x', 'b', 'y', 's', 'a'}
l2 = ['shubham']
l3= '12345'
s1.update(l2, l1, l3) #can take multiple arguments
print(s1)

{1, 2, 3, 'x', 'b', 'a'}
{1, 2, 3, 'x', 'shubham', '2', 'b', '1', 'y', 'a', '5', 'lop', '3', '4'}

***Removing Items***

In [ ]:
#remove() and discard()   , pop(), clear(), del

#remove(): can take SINGLE argument; if value isn't found in remove() method, it will throw error
s = {1,2,3,'a','b'}
s.remove('a')
print(s)

#discard(): can take SINGLE argument; if value isn't found in remove() method, it will NOT throw error 
s1 = {1,2,3, 'a', 'b', 'c'}
s1.discard(666)
print(s1)

#pop(): can take NO argument; set is unordered, so we won't know which value will be removed, but it will be last
#and in 'x' variable, deleted value will be stored, in remove() and discard(), x will show NONE
s2 = {1,2,3, 'a', 'b', 'c'}
x = s2.pop()
print(x)

#clear(): to clear the set
s3 = {1,2,3, 'a', 'b', 'c'}
s3.clear()
print(s3)

#del: delte set completly
s4 = {1,2,3, 'a', 'b', 'c'}
del s4
#print(s4)

{1, 2, 3, 'b'}
{1, 2, 3, 'b', 'c', 'a'}
1
set()

***Join Sets***

In [ ]:
#union() and update(): both EXCLUDES duplicates

#update(): as we know, it will add all values of s2 into s1, but s2 remains same and if we try to make new set, not possible:EMpty set s3
s1 = {1,2,3}
s2 = {'a','b'}
s3 = s1.update(s2)
print(s1)
print(s2)
print(s3)

#union(): here we can make new set without changing orignal sets
s1 = {1,2,3}
s2 = {'a','b'}
s3 = s1.union(s2)
print('********UNION()*********')
print(s1)
print(s2)
print(s3)

{'a', 1, 2, 3, 'b'}
{'a', 'b'}
None
********UNION()*********
{1, 2, 3}
{'a', 'b'}
{'a', 1, 2, 3, 'b'}

***Join: Keep only Duplicates***

In [ ]:
#intersection_update() and intersection()

#intersection_update(): 
s1 = {1,2,3}
s2 = {'a','b', 1,2}
s1.intersection_update(s2)  #s2 remains same, s1 will have now same values which are present in s1&s2
s3 = s1.intersection_update(s2)  #s3 will be none
print(s1)
print(s2)
print(s3)

#intersection(): same as above, but here we can create NEW set, orignal set will remain same
s1 = {1,2,3}
s2 = {'a','b', 1,2}
s3 = s1.intersection(s2)
print(s1)
print(s2)
print(s3)

{1, 2}
{'b', 1, 2, 'a'}
None
{1, 2, 3}
{'b', 1, 2, 'a'}
{1, 2}

***Join: Keep All, But NOT the Duplicates***

In [ ]:
#symmetric_difference(), symmetric_difference_update()
#: don't confuse it with update() and union()

s1 = {1,2,3,4}
s2 = {1,2,5,6}
#s1.update(s2) #o/p: {1, 2, 3, 4, 5, 6}; and s2 remains same
s1.symmetric_difference_update(s2) #o/p: {3, 4, 5, 6}; and s2 remains same
print(s1)
print(s2)

s1 = {1,2,3,4}
s2 = {1,2,5,6}
s3 = s1.symmetric_difference(s2)
print('**********')
print(s1)
print(s2)
print(s3)

{3, 4, 5, 6}
{1, 2, 5, 6}
**********
{1, 2, 3, 4}
{1, 2, 5, 6}
{3, 4, 5, 6}

***Join METHODS:***

# **DICTIONARIES**

In [ ]:
#ordered, changable, no-duplicate keys
dict1 = {
    'Name': ['shubham', 'ram'],  #1line:1key, 'name','age' can't be in single line
    'Age': [21, None],
    'Country': 'India',
    'year1': 2022,
    'year': 2022,
    77: 'sk'    #keys can be int too
}
print(dict1, len(dict1), type(dict1))
#print(dict1[0]) #ERROR; not allowed, we have to specify KEY

print(dict1[77])
#duplicates of KEY: NOT allowed, duplicated  of VALUE: allowed

{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India', 'year1': 2022, 'year': 2022, 77: 'sk'} 6 <class 'dict'>
sk

***Accessing Items***

In [ ]:
dict1 = {
    'Name': ['shubham', 'ram'],  #1line:1key, 'name','age' can't be in single line
    'Age': [21, None],
    'Country': 'India',
    'year1': 2022,
    'year': 2022
}

print(dict1['Name'])
#OR
print(dict1.get('Name'))
#OR
x = dict1.get('Name')
print(x)

['shubham', 'ram']
['shubham', 'ram']
['shubham', 'ram']

***Accessing Items: GET Keys***

In [ ]:
dict1 = {
    'Name': ['shubham', 'ram'],  #1line:1key, 'name','age' can't be in single line
    'Age': [21, None],
    'Country': 'India',
    'year1': 2022,
    'year': 2022
}
dict1.keys()
#OR
print(dict1.keys())
#OR
x = dict1.keys()
print(x)

dict_keys(['Name', 'Age', 'Country', 'year1', 'year'])
dict_keys(['Name', 'Age', 'Country', 'year1', 'year'])

***Accessing Items: GET Values***

In [ ]:
dict1 = {
    'Name': ['shubham', 'ram'],  #1line:1key, 'name','age' can't be in single line
    'Age': [21, None],
    'Country': 'India',
    'year1': 2022,
    'year': 2022
}
dict1.values()
#OR
print(dict1.values())
#OR
x = dict1.values()
print(x)

dict_values([['shubham', 'ram'], [21, None], 'India', 2022, 2022])
dict_values([['shubham', 'ram'], [21, None], 'India', 2022, 2022])

***Accessing Items: GET Items***

In [ ]:
dict1 = {
    'Name': ['shubham', 'ram'],  #1line:1key, 'name','age' can't be in single line
    'Age': [21, None],
    'Country': 'India',
    'year1': 2022,
    'year': 2022
}
print(dict1)
print(dict1.items())   #return each item(key:value pair) as TUPLES and all the tuples will be inside ONE LIST

{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India', 'year1': 2022, 'year': 2022}
dict_items([('Name', ['shubham', 'ram']), ('Age', [21, None]), ('Country', 'India'), ('year1', 2022), ('year', 2022)])

***Accessing: Check if Key Exists***

In [ ]:
dict1 = {
    'Name': ['shubham', 'ram'],  #1line:1key, 'name','age' can't be in single line
    'Age': [21, None],
    'Country': 'India',
    'year1': 2022,
    'year': 2022
}
if 'Name' in dict1:
  print('Yes')
else:
  print('NO')

Yes

***Changing Values in Dict.***

In [ ]:
#2ways
dict1 = {
    'Name': ['shubham', 'ram'],  #1line:1key, 'name','age' can't be in single line
    'Age': [21, None],
    'Country': 'India',
    'year1': 2022,
    'year': 2022
}
dict1['year'] = 56
print(dict1)

#OR

dict1.update({'year': 500})
#dict1.update({'new_year': 5900})  #it will add new item in dict.

print(dict1)

{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India', 'year1': 2022, 'year': 56}
{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India', 'year1': 2022, 'year': 500}

***Add Items***

In [ ]:
#2ways:
dict1 = {
    'Name': ['shubham', 'ram'],  #1line:1key, 'name','age' can't be in single line
    'Age': [21, None],
    'Country': 'India',
    'year1': 2022,
    'year': 2022
}
print(dict1)
#directly: 
dict1['New_Field'] = 'i don\'t know!'
print(dict1)

#OR

#update()
dict1.update({'update_new': 'hi'})
print(dict1)

{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India', 'year1': 2022, 'year': 2022}
{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India', 'year1': 2022, 'year': 2022, 'New_Field': "i don't know!"}
{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India', 'year1': 2022, 'year': 2022, 'New_Field': "i don't know!", 'update_new': 'hi'}

***Remove Items***

In [ ]:
#pop(), popitem(), del
dict1 = {
    'Name': ['shubham', 'ram'],  #1line:1key, 'name','age' can't be in single line
    'Age': [21, None],
    'Country': 'India',
    'year1': 2022,
    'year': 2022
}
print(dict1)

#pop()
dict1.pop('year') #can't take pog of key as value to delete; like 2
print(dict1)

#popitem()
dict1.popitem()  #no arguments is rule here, it will remove last item
print(dict1)

#del: same as pop()
#it can also delete complete dict. permanently
del dict1['Country']
print(dict1)

#clear() 
dict1.clear()
print(dict1)

{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India', 'year1': 2022, 'year': 2022}
{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India', 'year1': 2022}
{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India'}
{'Name': ['shubham', 'ram'], 'Age': [21, None]}
{}

***Loop in Dict.***

In [ ]:
d1 = {'name':'ram',
      'age':21}
for x in d1:
  print(d1[x])
  print()
  print(x)

ram

name
21

age

***Copying Dict.***

In [ ]:
#same as list
#dict1 = dict2 #it will create reference not copy
dict1 = {
    'Name': ['shubham', 'ram'],  #1line:1key, 'name','age' can't be in single line
    'Age': [21, None],
    'Country': 'India',
    'year1': 2022,
    'year': 2022
}
dict2 = dict1.copy()
print(dict2)
#OR
dict3 = dict(dict1)
print(dict3)

{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India', 'year1': 2022, 'year': 2022}
{'Name': ['shubham', 'ram'], 'Age': [21, None], 'Country': 'India', 'year1': 2022, 'year': 2022}

***Nested Dict***

In [ ]:
dict1 = {
    'child1':
    {
        'name': 'shubham',
        'age': 12,
        'marks': 96

    },
    'child2':
    {
        'name': 'rajat',
        'age': 16,
        'marks': 99
    },
    'child3':
    {
        'name': 'ram',
        'age': 11,
        'marks': 91
    }
}
print(dict1)

#OR

child1 = {
    'name': 'shuham',
    'age': 22,
    'marks': 99
} 
child2 = {
    'name': 'ram',
    'age': 21,
    'marks': 91
}

family = {
    'kid1': child1,
    'kid2': child2
}

print(type(child1),type(child2),type(family))
print(family)

{'child1': {'name': 'shubham', 'age': 12, 'marks': 96}, 'child2': {'name': 'rajat', 'age': 16, 'marks': 99}, 'child3': {'name': 'ram', 'age': 11, 'marks': 91}}
<class 'dict'> <class 'dict'> <class 'dict'>
{'kid1': {'name': 'shuham', 'age': 22, 'marks': 99}, 'kid2': {'name': 'ram', 'age': 21, 'marks': 91}}

In [ ]:
#random

d1 = {'a':1, 'b':2}
d2 = {'a':1, 'b':2}
print(d1==d2) #T

d1 = {'a':1, 'b':2}
d2 = {'a':1, 'B':2}
print(d1==d2) #F

d1 = {'a':1, 'b':2}
d2 = {'a':10, 'b':2}
print(d1==d2) #F

True
False
False

Dict. Methods

# iF-ELSE LOOP

In [ ]:
a = 34
if a < 10:
  print('a<10')
elif a < 20: print('a<20') #short way if only single line we have!
elif a<30:
  print('a<30')
else:
  print('value of a is: ',a)

value of a is:  34

***Multiple ELSE***

In [ ]:
#short form or terniary operator
a = 22
b = 34
print('A') if a>b else print('B')

#multiple else
a = 33000
b = 3300
if a>b:
  print('A')
else:
  if a == b:
    print('=')
  else:
    print('B')


#short form: multiple else
a = 330000
b = 33000

print("A") if a > b else print("=") if a == b else print("B")

B
A
A

***AND, OR***

In [ ]:
a = 2200
b = 340
c = 55
#print('A') if a>b and a>c elif print('B') if b>a and b>c elif print('C') if c>a and c>b else print('=') #error
print('A') if a>b and a>c else print('B') if b>a and b>c else print('C') if c>a and c>b else print('=')

A

***Pass statement***

In [ ]:
a = 2
b =33
if a>b:
  #if cannont be empty here, if some reason it has to be empty, use PASS
  pass

else:
  print('ksv')

ksv

# **WHILE LOOP**

In [ ]:
i = 1
while i<5:
  #print(i)
  i += 1
#while loop keeps on working till it's condition got FALSE. here i is actually less than 5 i.e. TRUE, so it's keep on working, the moment it gets FLASE, it will come out of loop

***Break***

In [ ]:
#break
i = 1
while i < 5:
  print(i)
  if i == 3:
    break
  i += 1

#OR
print('***********')
i = 5
while i>1:
  print(i)
  break

1
2
3
***********
5

***Continue***

In [ ]:
i = 0
while i < 6:
  print(i)
  i+=1  
  if i == 3:
    continue
  print('hi')

# Note that number 3 is missing in the result

0
hi
1
hi
2
3
hi
4
hi
5
hi

In [ ]:
x = 5
if x == 7:
  print(x)
elif:

***ELSE in While***

In [ ]:
#when WHILE is true, its keep on working, when its false, it comes out of loop, and there we can use ELSE
i = 6
while i>1:
  print(i)
  i-=1
else:
  print('no no')

6
5
4
3
2
no no

# **FOR LOOP**

In [ ]:
s = 'shubham'
for x in range(0, len(s), 2):
  print(s[x])

s
u
h
m

In [ ]:
l1 = ['a', 'b', 'c']
for x in l1:
  
  if x == 'b':
    continue
  print(x)

a
c

In [ ]:
for x in range(1,5):
  for y in range(11,15):
    print(x,y)

1 11
1 12
1 13
1 14
2 11
2 12
2 13
2 14
3 11
3 12
3 13
3 14
4 11
4 12
4 13
4 14

In [ ]:
#pass: if loop is empty, this helps to avoid error
for x in [1,2]:
  pass
print('ff')

ff

In [ ]:
for x in range(0,3):
  for y in range(0,x+1):
    print('* ',end='')
  print('')

*
* *
* * *

In [ ]:
k = 3
for x in range(0,3): #rows
  for y in range(0,k): #columns
    print('* ', end='')
  print()
  k = k-1

* * *
* *
*

In [ ]:
for x in range(0,3):
  print('*', end='')

***

# FUNCTIONS

In [ ]:
#simple
def myfun():
  print('hi')
myfun()

hi

Arguments

In [ ]:
#arguments
def myfun(name):
  print('Hello',name) #if we add + insted of , space will not be there!
myfun('shubham')
myfun('ram')

Hello shubham
Hello ram

In [ ]:
def myfun(name, age):
  print('Hello',name) #if we add + insted of , space will not be there!
myfun('shubham') #error, if fun expects 2 argumnts it should get 2. not 1 not 3
myfun('ram', 21)

Hello shubham
Hello ram

In [ ]:
#if we dont know how many args will gonna pass add * before

def myf(*name):
  print('Names are: ',name) #o/p: ('ram', 'sita'), it will return as TUPLE
  print('1st name is:',name[0]) #we can also access each item
myf('ram', 'sita')

Names are:  ('ram', 'sita')
1st name is: ram

In [ ]:
#args as 'key=value' pair
def myf(name1, name2, name3):
  print('name of 1st child is', name1)
myf(name1 = ['ram','kk'], name2 = 'sita', name3 = 'shuv') #key name has to same as args to be passed

#if we dont know how many kwargs will gonna pass, add ** before
def myf2(**names):
  print('all names are', names) #it will return as dict.
  print('fname is', names['fname']) #it is dic. so we have to call key, place as int not applicable
myf2(fname = 'shubham', lname = 'thakur')

name of 1st child is ['ram', 'kk']
all names are {'fname': 'shubham', 'lname': 'thakur'}
fname is shubham

In [ ]:
#default paramenter value
def fun(country = 'India'):
  print('im from', country)
fun()
fun('US')

im from India
im from US

In [ ]:
#passing as list as arg(we can pass tuple, dict, anyrhing...)

#CASE 1:
fruits = ['apple', 'kiwi', 'cherry']
def fun(x):
  print(x, type(x))
fun(fruits)
#o/p: ['apple', 'kiwi', 'cherry'] <class 'list'>


#CASE 2:
fruits = ['apple', 'kiwi', 'cherry']
def fun(*x):
  print(x, type(x))
fun(fruits)
#o/p: (['apple', 'kiwi', 'cherry'],) <class 'tuple'>


#CASE 3:
fruits = ['apple', 'kiwi', 'cherry']
def fun(*x):
  for i in x:
    print(i, type(i))
fun(fruits)
#o/p: ['apple', 'kiwi', 'cherry'] <class 'list'>


#CASE 4:
fruits = ['apple', 'kiwi', 'cherry']
def fun(x):
  for i in x:
    print(i, type(i))
fun(fruits)
#o/p: apple <class 'str'>
#kiwi <class 'str'>
#cherry <class 'str'>




#if we do like this: def fun(*food) then o/p: ['apple', 'kiwi', 'cherry'] <class 'list'>

['apple', 'kiwi', 'cherry'] <class 'list'>
(['apple', 'kiwi', 'cherry'],) <class 'tuple'>
['apple', 'kiwi', 'cherry'] <class 'list'>
apple <class 'str'>
kiwi <class 'str'>
cherry <class 'str'>

In [ ]:
#return
def myf(x):
  print('hu')
  return x*5
myf(5)
myf(6)
#only the last called fun val will be returned

hu
hu

30

In [ ]:
#pass: if fun is empty use this to avoid error
def f2():
  pass
  print('hu')
print('hellll')

hellll

In [ ]:
#recursion
#factorial #didnt get it!
def fact(x):
  if x > 0:
    res = (x+fact(x-1))
    print(res)
    return res
  else:
    res = 1
    print(res)

    return res
     
n = int(input('Entetr value of n: '))
print(n, type(n))
print('fact of num is:'  )
fact(n)

Entetr value of n: 3
3 <class 'int'>
fact of num is:
1
2
4
7

7

In [ ]:
x = 3
if x>1 and x<6:
  print('hi')
else:
  print('hwllo')

hi

# LAMBDA/Anonymous FUNCTION

In [ ]:
#take any no of arguments but have only one expression
# lambda arguments : expression
#why we use? Say you have a function definition that takes one argument,
# and that argument will be multiplied with an unknown number:



x = lambda a : a + 10
print(x(10))

x = lambda a, b : a+b
print(x(10,20))

20
30

In [ ]:
def f1(n):
  return lambda a : a+n

val1 = f1(10)
val2 = f1(20)
print(val1(500))
print(val2(500))

510
520

# ARRAYS

In [ ]:
#Python doesn't have built-in arrays so, LISTS are used as ARRAYS, or use numpy to access arrays

# CLASS & OBJETCS

In [ ]:
class P1: #if we use p1 still it will  work!
  x = 55
obj1 = P1()
print(obj1.x)

55

In [ ]:
class P1:
  name = '101'
  def __init__(self, name, age):
    name = '102'
    self.name = name
    self.age = age
    name = '103'
  name = '104'
  
obj1 = P1('ram',99)
print(obj1.name) #102, if we remove name=102 then: ram

obj1.name = 'jjjjjjj' #modify also possible
print(obj1.name)

del obj1.name
print(obj1.name) #104 if we remove name=104 then: 101, if we remove this also then error

#del obj1 #delte object
#pass:to pass if class is empty

102
jjjjjjj
104

In [ ]:
#self: no need to use self as keyword, we can use any name, but has to be 1st argument

class P1:
  def __init__(x, name, age):
    x.name = name
    x.age = age
  def f1(y):
    print(y.name)

obj1 = P1('ram', 33)
obj1.f1()

ram

Inheritance

In [ ]:
class P1:
  x = 6

class P2(P1):
  pass

o1 = P2()
print(o1.x)

6

In [ ]:
class P1:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def f1(self):
    print(self.name)

class P2(P1):
  pass

o1 = P2('ram', 54)
o1.f1()

ram

In [ ]:
#if we add __init__ to child class, it will override parent class __init__ function
#so we have to call parent class init
class P1:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def f1(self):
    print(self.name)
  
  def f3(self):
    print('kbc')

class P2(P1):
  def __init__(self, name, age, year):
    self.year = year
    super().__init__(name, age) #or we can use SUPER too: super().__init__(name, age) to inherrit everythoing
  
  def f3(self): #why we have to use SELF here, i dont know!
    print('abc')

o1 = P2('ram', 3, 2019)
o2 = P1('shu', 99)
o1.f1()
o1.year
o1.f3()
o2.f3()
o2.name

ram
abc
kbc

'shu'

# ITERATORS

In [ ]:
t1 = ('a', 'b', 'c', 'd')
it = iter(t1)

for x in range(0, len(t1)):
  print(next(it), type( next(it)))

a <class 'str'>

In [ ]:
for x in range(0,10):
  print('Power of ',x, ' is:', x*x)

Power of  0  is: 0
Power of  1  is: 1
Power of  2  is: 4
Power of  3  is: 9
Power of  4  is: 16
Power of  5  is: 25
Power of  6  is: 36
Power of  7  is: 49
Power of  8  is: 64
Power of  9  is: 81

In [ ]:
#interator on class i didn;t get completly!


# MODULE

In [ ]:
person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}
def greeting(name):
  print("Hello, " + name)
#Now Save  code in a file named mymodule.py

import mymodule   #or write like: import mymodule as md
mymodule.greeting("Jonathan")
a = mymodule.person1["age"]
print(a)

In [ ]:
#Built-in modules

import platform

x = platform.system()
y = dir(platform) #we can also use this on our own created modules
print(x)
print(y)

Linux
['DEV_NULL', '_UNIXCONFDIR', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '__warningregistry__', '_codename_file_re', '_comparable_version', '_component_re', '_default_architecture', '_dist_try_harder', '_distributor_id_file_re', '_follow_symlinks', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_linux_distribution', '_lsb_release_version', '_mac_ver_xml', '_node', '_norm_version', '_parse_release_file', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_release_file_re', '_release_filename', '_release_version', '_supported_dists', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_uname', '_syscmd_ver', '_uname_cache', '_ver_output', '_ver_stages', 'architecture', 'collections', 'dist', 'java_ver', 'libc_ver', 'linux_distribution', 'mac_ver', 'machine', 'node', 'os', 'platform', 'popen', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'warnings', 'win32_ver']

In [ ]:
#Import only the person1 dictionary from the module:

from mymodule import person1
print (person1["age"])
#When importing using the from keyword, 
#do not use the module name when referring to elements in the module. 
#Example: person1["age"], not mymodule.person1["age"]

# DATE

In [ ]:
#IMPORT
import datetime as dt
x = dt.datetime.now()
print(x)
print(x.year)
print(x.strftime('%A'))
print(x.strftime('%d')+':'+x.strftime('%m'))

#pass our own arguments
y = dt.datetime(2022, 2 , 15, 0, 0,0)
print(y)

2022-05-20 12:12:23.289679
2022
Friday
20:05
2022-02-15 00:00:00

In [ ]:
#strftime() Methods: sooooo many
#https://www.w3schools.com/python/python_datetime.asp

# MATH

In [ ]:
#import
import math as m
print(min(1,2,55))
print(max(1,2,55))
print(abs(-1.3))
print(pow(2,3)) #2*2*2
print(m.sqrt(64))
print(m.ceil(1.4)) #nearest high decimal: 2
print(m.floor(1.4)) #nearest low decimal: 1
print(m.pi) 


#soo much more...
#https://www.w3schools.com/python/module_math.asp

1
55
1.3
8
8.0
2
1
3.141592653589793

# RegEx

In [ ]:
#A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.
#RegEx can be used to check if a string contains the specified search pattern.

#https://www.w3schools.com/python/python_regex.asp

# TRY/CATCH


*try: where error could occur
except: where error handled
else: if no error, here we will have msg or next step
finally: runs everytime
raise: keyword to raise our own exception*

In [ ]:
try:
  print(2/0)
except:
  print('Somrthing wromg')
else:
  print('nothing wrong')
finally:
  print('hello')

Somrthing wromg
hello

In [ ]:
#raise
x = 0
if x>0:
  print(4/x)
else:
  raise Exception('somthibg wrong')

Exception: ignored

# FILE HANDLING

In [ ]:
#https://www.w3schools.com/python/python_file_handling.asp